<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">

      <!-- LOGO -->
      <img src="assets/logo-azul.png" alt="TecnoAmbiente" class="img-fluid mb-4" style="max-height: 400;" />

      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Iniciar Sesión</h3>

          <!-- Formulario de Login -->
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="usernameOrEmail">Nombre de usuario o correo electrónico</label>
              <input
                type="text"
                id="usernameOrEmail"
                class="form-control"
                [(ngModel)]="usernameOrEmail"
                name="usernameOrEmail"
                placeholder="Ingresa tu nombre de usuario o correo"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Contraseña</label>
              <input
                type="password"
                id="password"
                class="form-control"
                [(ngModel)]="password"
                name="password"
                placeholder="Ingresa tu contraseña"
                required
              />
            </div>

            <!-- Mensaje de error -->
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="isLoading"
            >
              {{ isLoading ? 'Cargando...' : 'Iniciar Sesión' }}
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
